<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">OAB Expense</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Dashboard</label>
                </li>               
                <li data-username="form elements advance componant validation masking wizard picker select"
                    class="nav-item ">
                    <a href="{% url 'expense' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">Expense</span></a>
                </li>
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item ">
                    <a href="{% url 'income' %}" class="nav-link "><span class="pcoded-micon"><i
                            class="feather icon-server"></i></span><span class="pcoded-mtext">Income</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Summary</label>
                </li>
                <li data-username="Charts Morris" 
                    class="nav-item ">
                    <a href="" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">Expenses Summary</span></a>
                </li>
                <li data-username="Maps Google" 
                    class="nav-item ">
                    <a href="" class="nav-link "><span
                        class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span
                        class="pcoded-mtext">Income Summary</span></a></li>        
                        
                <li class="nav-item pcoded-menu-caption">
                    <label>settings</label>
                </li>                    
                <li data-username="Support Page" class="nav-item {% if 'preferences' in segment %} active {% endif %}">
                    <a href="{% url 'preferences'%}" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-credit-card"></i>
                        </span>
                        <span class="pcoded-mtext">General</span>
                    </a>
                </li>  
                    {% comment %} <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="index/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile</span></a>
                </li> {% endcomment %}
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
