{% extends "layouts/base.html" %}
{% load static %}


{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">My Expenses</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href=""><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">My Expenses</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'add_expense' %}">Add expenses</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                    <!-- [ Hover-table ] start -->
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>       {% if messages %}
                                                    {% for message in messages %}
                                                    <div{% if message.tags %} class="alert alert-sm alert-{{ message.tags}}"{% endif %}>
                                                       <h1> {{ message }}</h1>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}</h5>
                                            </div>
                                           
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <div class="app-table">
                                                    {% if expenses.count %}
                                                    <div class="col-md-8 mt-3">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <input type="text" id="searchField" class="form-control" placeholder="Search . . ."></f
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Amount (CURRENCY)</th>
                                                                <th>Category</th>
                                                                <th>Description</th>
                                                                <th>Date</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            {% for expense in page_obj %}
                                                            <tr>
                                                                <td>{{ expense.amount}}</td>
                                                                <td>{{ expense.category}}</td>
                                                                <td>{{ expense.description}}</td>
                                                                <td>{{ expense.date}}</td>

                                                                <td><a class="label theme-bg text-white f-12" href="{% url 'expense-edit' expense.id %}">Edit</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>

                                                </div>


                                                    <div class="col-sm-12">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5>Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <nav aria-label="Page navigation example">
                                                                    <ul class="pagination">
                                                                        {% if page_obj.has_previous%}
                                                                        <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo;</a></li>
                                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                                                        {% endif %}


                                                                        {% if page_obj.has_next%}
                                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                                                                        {% endif %}
                                                                    </ul>
                                                                </nav>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}


                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!-- [ Hover-table ] end -->

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    {% comment %} <script src="{% static 'assets/js/searchExpenses.js' %}"></script>
    <script>  console.log("hello world woke");</script> {% endcomment %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

