{% extends "layouts/base.html" %}

{% block title %} Preferred Currency {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Preferred Currency</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Currency</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            {% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-sm alert-{{ message.tags}}"{% endif %}>
       <h1> {{ message }}</h1>
    </div>
    {% endfor %}
</div>
{% endif %}
                                        </div>
                                        <div class="card-body">
                                            <h5>Currency controls</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form method="post" action="{% url 'preferences'%}">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Select</label>
                                                            <select name="currency" class="form-control" id="exampleFormControlSelect1">
                                                                {% if user_preference.currency %} 
                                                                <option name="currency" selected>{{user_preference.currency}}</option>
                                                                {% endif %}
                                                               
                                                                {% for currency in currencies%}
                                                                <option name="currency" value="{{currency.name}} - {{currency.value}}">{{currency.name}} - {{currency.value}}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <input type="submit" value="Save" class="btn btn-primary"/>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
